html {
  min-width: 320px;
  cursor: default;
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.simple-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #13505B;
  color: #040404;
  height: 100%;
  width: 100%;
}

.simple-main h1 {
  font-size: 90px;
  margin: 0px;
  font-family: "Bebas Neue", sans-serif;
}

/* the nav */
.simple-nav {
  text-align: center;
  font-family: "Heebo", sans-serif;
}

.simple-nav ul {
  list-style: none;
  padding: 0px;
}

/* these are also used by the poetry list, as well as the nav */
.list-item {
  color: 040404;
  display: inline-block;
  font-size: 30px;
}

.list-item a {
  text-decoration: none;
  color: inherit;
  cursor: url('files/lightning-bolt-outline.svg') 12 12, auto;
}

.list-item:nth-last-child(n + 2)::after {
  content: "|";
  color: black;
  padding: 20px;
  color: #0C7489
}

.list-item a:hover {
  color: #AD7A99;
}

.poetry-list .list-item a:hover {
  color: #9FC490
}

/* the poetry list */
.poetry-list {
  visibility: hidden;
  text-align: center;
}

.visible {
  visibility: visible;
  animation: fadeIn 0.25s forwards;
}

/* for tablet & up */
@media (min-width: 768px) {

  .simple-main h1 {
    font-size: 200px;
    flex-direction: column;
  }

  .list-item {
    font-size: 50px;
    padding: 0px 8px 8px 0px;
  }

}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}